[submodule "lib/limine"]
	path = lib/limine
	url = https://github.com/limine-bootloader/limine
  branch = v3.0-branch-binary
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/tinyalloc"]
	path = lib/tinyalloc
	url = https://github.com/thi-ng/tinyalloc
[submodule "lib/echfs"]
	path = lib/echfs
	url = https://github.com/echfs/echfs
